<%- include("../layouts/header", {title: 'Atualização de Pessoa'}) %>

<%- include("../layouts/menu", {username: ""}) %>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-four-fifths">
              <h1 class="title is-4">Atualização de Pessoa</h1>
            </div>
            <div class="column is-one-fifth">
              <div class="buttons is-pulled-right">
                <a href="/pessoas" class="button is-small">Voltar</a>
              </div>
            </div>
          </div>
      <% if (pessoa.error) { %>
        <p class="is-danger help"><%= pessoa.error %></p>
      <% } %>
      <form action="/pessoas/<%= pessoa.id %>?_method=put" method="POST">
        <div class="field">
          <label class="label">Nome</label>
          <div class="control">
            <input class="input" type="text" name="nome" value="<%= pessoa.nome %>" required>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Logradouro</label>
          <div class="control">
            <input class="input" type="text" name="rua" value="<%= pessoa.endereco.rua %>" required>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Cidade</label>
          <div class="control">
            <input class="input" type="text" name="cidade" value="<%= pessoa.endereco.cidade %>" required>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Nome de usuario</label>
          <div class="control">
            <input class="input" type="text" name="username" value="<%= pessoa.username %>" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Senha</label>
          <div class="control">
            <input class="input" type="password" name="password" value="<%= pessoa.password %>" >
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-success">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  
  <%- include("../layouts/footer") %>